<!-- Validation failure messages -->
<% if @comment.errors.any? %>
  <% @comment.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit comment #<%= @comment.id %>
</h1>

<hr>

<!-- Form comment start -->
<form action="/update_comment/<%= @comment.id %>" method="post">
<!-- Form comment end -->

  <!-- Label and input for body start -->
  <div class="form-group">
    <label for="body">
      Body
    </label>

    <!-- Input for body start -->
    <textarea id="body" name="body" class="form-control" rows="3"><%= @comment.body %></textarea>
    <!-- Input for body end -->
  </div>
  <!-- Label and input for body end -->

  <!-- Label and input for commenter_id start -->
  <!-- Label and input for commenter_id end -->

  <!-- Label and input for photo_id start -->
  <div class="form-group">
    <label for="photo_id">
      Photo
    </label>

    <!-- Input for photo_id start -->
    <%= select_tag(:photo_id, options_from_collection_for_select(Photo.all, :id, :caption, @comment.photo_id), :class => "form-control") %>
    <!-- Input for photo_id end -->
  </div>
  <!-- Label and input for photo_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update comment
  </button>
</form>

<hr>

<a href="/comments">
  Go back
</a>
