<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Photo #<%= @photo.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/photos" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link photo start -->
      <div class="col">
        <% if current_user == @photo.owner %>
          <a href="/photos/<%= @photo.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit photo
          </a>
        <% end %>
      </div>
      <!-- Edit link photo end -->

      <!-- Delete link photo start -->
      <div class="col">
        <% if current_user == @photo.owner %>
          <a href="/delete_photo/<%= @photo.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete photo
          </a>
        <% end %>
      </div>
      <!-- Delete link photo end -->
    </div>

    <dl>
      <dt>
        Caption
      </dt>
      <!-- Display caption start -->
      <dd>
        <%= @photo.caption %>
      </dd>
      <!-- Display caption end -->

      <dt>
        Image
      </dt>
      <!-- Display image start -->
      <dd>
        <img src="<%= @photo.image %>" class="img-fluid">
      </dd>
      <!-- Display image end -->

      <dt>
        Owner
      </dt>
      <!-- Display owner_id start -->
      <dd>
        <% if @photo.owner.present? %>
          <a href="/users/<%= @photo.owner_id %>">
            <%= @photo.owner.username %>
          </a>
        <% end %>
      </dd>
      <!-- Display owner_id end -->

      <dt>
        Location
      </dt>
      <!-- Display location start -->
      <dd>
        <div>
          <%= render partial: "photo_templates/one_photo_map" %>
        </div>
      </dd>
      <!-- Display location end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@photo.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@photo.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "photo_templates/photo_likes" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "photo_templates/photo_comments" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "photo_templates/photo_fan_followers" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "photo_templates/photo_followers" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "photo_templates/photo_fans" %>
  </div>
</div>
<!-- Show Page Customization end -->
