<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Like #<%= @like.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/likes" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @like.user %>
          <a href="/likes/<%= @like.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit like
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @like.user %>
          <a href="/delete_like/<%= @like.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete like
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @like.user.present? %>
          <a href="/users/<%= @like.user_id %>">
            <%= @like.user.username %>
          </a>
        <% end %>
      </dd>

      <dt>
        Photo
      </dt>
      <dd>
        <% if @like.photo.present? %>
          <a href="/photos/<%= @like.photo_id %>">
            <%= @like.photo.caption %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@like.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@like.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

