<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Like #<%= @like.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/likes" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link like start -->
      <div class="col">
        <a href="/likes/<%= @like.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit like
        </a>
      </div>
      <!-- Edit link like end -->

      <!-- Delete link like start -->
      <div class="col">
        <a href="/delete_like/<%= @like.id %>" class="btn btn-block btn-outline-secondary">
          Delete like
        </a>
      </div>
      <!-- Delete link like end -->
    </div>

    <dl>
      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <%= @like.user_id %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Photo
      </dt>
      <!-- Display photo_id start -->
      <dd>
        <%= @like.photo_id %>
      </dd>
      <!-- Display photo_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@like.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@like.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
